.instruction{
    margin: 5rem 0;
    text-align: center;
    & > h1{
        font-size: 2.5rem;
        color: $very-dark-blue;
        letter-spacing: 3px;
    }
    & > p{
        font-size: 1.1rem;
        color: $very-dark-blue;
        line-height: 30px;
        letter-spacing: 0.4px;
    }
    &_container{
        margin: 3rem 5rem;
        display: flex;
        flex-direction: column;
    }
    &_div{
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        & > .line{
            position: absolute;
            width: 2px;
            height: 100%;
            left: 50%;
            top: 20%;
            background: $very_dark_blue;
        }
        &-img{
            width: 30%;
            height: 15rem;
            background: $white;
            margin: 2rem;
        }
        &-no{   
            margin-top: 3rem;
            position: relative;
            width: 3rem;
            height: 3rem;
            border-radius: 50px;
            background: $dark_blue;
            box-shadow: 0 5px 10px rgba($color: $dark_blue, $alpha: 0.5);
            & > span{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: $white;
            }
        }
        &-content{
            text-align: left;
            width: 30%;
            margin: 2rem;
            & > h2{
                font-size: 1.5rem;
                margin-bottom: 0.6rem;
                color: $very_dark_blue;
            }
            & > p{
                font-size: 1.2rem;
                color: #3d3d3d;
                line-height: 30px;
                letter-spacing: 0.4px;
                font-weight: 600;
            }
        }
    }
}