*, *::after, *::before {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box; }

body {
  font-family: 'Raleway', sans-serif;
  background-color: #dbf6e9; }
  @media (min-height: 900px) {
    body {
      font-size: 130% !important; } }

.nav {
  padding: 0 3rem;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (min-height: 900px) {
    .nav {
      height: 15vh; } }
  .nav > h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    color: #3d3d3d;
    letter-spacing: 0.5px; }
    .nav > h3 > i {
      color: #63cef8; }
  .nav_links {
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media (min-height: 900px) {
      .nav_links {
        width: 20%; } }
    .nav_links-btn {
      font-size: 0.9rem;
      background-color: #060199;
      color: #ffffff;
      border-radius: 12px;
      border: none;
      outline: none;
      padding: 1rem 2rem;
      cursor: pointer; }
      @media (min-height: 900px) {
        .nav_links-btn {
          font-size: 1.3rem;
          padding: 1.3rem 3rem; } }
    .nav_links-icon {
      position: relative;
      text-decoration: none;
      width: 3rem;
      height: 3px;
      background: #3d3d3d; }
      @media (min-height: 900px) {
        .nav_links-icon {
          width: 4rem;
          height: 4px; } }
      .nav_links-icon::before {
        content: " ";
        position: absolute;
        top: -0.7rem;
        left: 0;
        width: 3rem;
        height: 3px;
        background-color: #3d3d3d; }
        @media (min-height: 900px) {
          .nav_links-icon::before {
            width: 4rem;
            height: 4px; } }
      .nav_links-icon::after {
        content: " ";
        position: absolute;
        bottom: -0.7rem;
        left: 0;
        width: 3rem;
        height: 3px;
        background-color: #3d3d3d; }
        @media (min-height: 900px) {
          .nav_links-icon::after {
            width: 4rem;
            height: 4px; } }

.header {
  height: 90vh;
  background: #dbf6e9;
  padding: 4rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }
  @media (min-height: 900px) {
    .header {
      height: 85vh;
      padding: 5rem 3rem; } }
  .header_left {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    .header_left_nav {
      width: 100%;
      padding: 1rem 2rem;
      border-radius: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #ffffff; }
      @media (min-height: 900px) {
        .header_left_nav {
          padding: 1.5rem; } }
      .header_left_nav-link {
        text-decoration: none;
        color: #060199;
        font-size: 1.2rem;
        font-weight: 500; }
        @media (min-height: 900px) {
          .header_left_nav-link {
            font-size: 1.5rem; } }
        .header_left_nav-link--active {
          background: #060199;
          color: white;
          padding: 0.5rem 1rem;
          border-radius: 30px;
          font-size: 1rem; }
          @media (min-height: 900px) {
            .header_left_nav-link--active {
              font-size: 1.7rem; } }
    .header_left-content {
      text-align: center;
      width: 80%;
      height: 75%; }
      .header_left-content-top {
        position: relative;
        height: 15rem;
        padding-top: 2rem;
        padding-left: 2rem;
        border-radius: 12px;
        border: 1px solid #060199; }
        @media (min-height: 900px) {
          .header_left-content-top {
            height: 20rem; } }
        .header_left-content-top > textarea {
          font-family: 'Raleway', sans-serif;
          font-size: 3rem;
          color: #060199;
          outline: none;
          border: none;
          width: 100%;
          height: 100%;
          background-color: transparent; }
        .header_left-content-top > textarea::placeholder {
          font-size: 3rem;
          color: #060199;
          letter-spacing: 3px; }
          @media (min-height: 900px) {
            .header_left-content-top > textarea::placeholder {
              font-size: 3.5rem; } }
        .header_left-content-top > p {
          position: absolute;
          top: 43%;
          left: 21%;
          transform: translate(-43%, -21%);
          color: #060199;
          padding-top: 0.5rem;
          font-size: 1.2rem; }
          @media (min-height: 900px) {
            .header_left-content-top > p {
              font-size: 1.3rem; } }
      .header_left-content-bottom {
        margin-top: 0.7rem;
        display: flex;
        justify-content: center;
        align-items: center; }
        .header_left-content-bottom > i {
          margin-right: 0.5rem;
          color: #63cef8;
          background: white;
          padding: 1rem;
          border-radius: 50px; }
        .header_left-content-bottom > p {
          color: #63cef8;
          font-size: 1.1rem;
          letter-spacing: 0.3px; }
          @media (min-height: 900px) {
            .header_left-content-bottom > p {
              font-size: 1.4rem; } }
    .header_left-toggle {
      margin-top: 3rem;
      width: 100%;
      display: flex;
      justify-content: space-between; }
      @media (min-height: 900px) {
        .header_left-toggle {
          width: 80%; } }
      .header_left-toggle > div > div:last-of-type {
        margin-left: 0.6rem;
        text-align: left; }
        .header_left-toggle > div > div:last-of-type > span {
          font-size: 1.2rem;
          color: #060199;
          font-weight: 500;
          line-height: 30px; }
          @media (min-height: 900px) {
            .header_left-toggle > div > div:last-of-type > span {
              font-size: 1.4rem; } }
        .header_left-toggle > div > div:last-of-type > small {
          font-size: 1.1rem;
          color: #63cef8;
          font-weight: 400;
          display: block; }
          @media (min-height: 900px) {
            .header_left-toggle > div > div:last-of-type > small {
              font-size: 1.3rem; } }
  .header_right {
    padding: 3rem 0;
    border-radius: 16px;
    background: #060199;
    width: 30%;
    height: 110%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    @media (min-height: 900px) {
      .header_right {
        height: 105%; } }
    .header_right_img {
      background: white;
      width: 15rem;
      height: 12rem; }
    .header_right > button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-decoration: none;
      background-color: #0b04cf;
      border: none;
      width: 70%;
      padding: 1rem 1.5rem;
      color: white;
      border-radius: 12px;
      font-size: 1rem; }
      @media (min-height: 900px) {
        .header_right > button {
          font-size: 1.3rem; } }
      .header_right > button > i {
        transform: rotate(90deg); }
      .header_right > button > p {
        letter-spacing: 0.7px; }
    .header_right > .qr-code_container {
      width: 70%;
      padding: 2rem;
      background: #0b04cf;
      border-radius: 12px;
      display: flex;
      justify-content: space-between; }
      .header_right > .qr-code_container > i {
        font-size: 2rem;
        color: white;
        cursor: pointer; }
    .header_right > .toggle-button > div {
      margin-left: 0.6rem; }
      .header_right > .toggle-button > div > p {
        color: white; }
    .header_right-btns {
      width: 80%;
      width: 80%;
      display: flex;
      justify-content: space-evenly;
      align-items: center; }
      .header_right-btns > button {
        padding: 1rem 2.5rem;
        border: none;
        outline: none;
        cursor: pointer;
        border-radius: 30px;
        font-size: 1.1rem; }
        @media (min-height: 900px) {
          .header_right-btns > button {
            padding: 1.3rem 3.5rem; } }
        .header_right-btns > button:first-child {
          background: #ffc93c; }
        .header_right-btns > button:last-child {
          background: #63cef8; }

.toggle-button {
  display: flex;
  align-items: center; }

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px; }

.switch-2 {
  width: 40px;
  height: 25px; }

.switch input {
  opacity: 0;
  width: 0;
  height: 0; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  transition: .4s;
  border: 2px solid #060199; }

.switch-2 > .slider {
  border: 2px solid #0b04cf; }

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 2px;
  bottom: 2px;
  transition: .4s;
  background: #060199; }

.switch-2 > .slider::before {
  height: 15px;
  width: 15px;
  background: #0b04cf; }

input:checked + .slider:before {
  transform: translateX(26px); }

.switch-2 > input:checked + .slider:before {
  transform: translateX(15px); }

.slider.round {
  border-radius: 34px; }

.slider.round:before {
  border-radius: 50%; }

.tab_content {
  height: 80%;
  width: 100%;
  margin-left: 2rem;
  display: none !important; }
  @media (min-height: 900px) {
    .tab_content {
      height: 75%; } }
  .tab_content--active {
    display: block !important; }
  .tab_content > h1 {
    font-size: 2.4rem;
    font-weight: 600;
    color: #060199; }
  .tab_content > .form {
    margin: 3rem 0; }
  .tab_content .form_group {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem; }
  .tab_content .form_label {
    font-size: 1.2rem;
    font-weight: 600;
    color: #3d3d3d; }
  .tab_content .form_input {
    width: 70%;
    padding: 1rem;
    font-size: 1.2rem;
    border: none;
    outline: none; }
  .tab_content .form_textarea {
    width: 70%;
    height: 6rem;
    padding: 1rem;
    font-size: 1.2rem;
    border: none;
    outline: none; }
  .tab_content .form_btn {
    background: #060199;
    color: white;
    border: none;
    outline: none;
    padding: 1rem 3rem;
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 12px;
    margin-top: 2rem;
    cursor: pointer; }
    .tab_content .form_btn:hover {
      background: #0b04cf; }
  .tab_content .radio_inputs {
    width: 70%;
    display: flex;
    justify-content: space-between; }
  .tab_content .radio_label {
    font-size: 1.1rem; }
  .tab_content-2 > h1 {
    font-size: 3rem;
    font-weight: 600;
    color: #060199; }
  .tab_content-2 > p {
    font-size: 1.4rem;
    color: #060199;
    display: block;
    margin-top: 1rem; }
  .tab_content-2 > button {
    background: #060199;
    color: white;
    border: none;
    outline: none;
    padding: 1rem 3rem;
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 5px;
    margin-top: 6rem;
    cursor: pointer; }
    .tab_content-2 > button:hover {
      background: #0b04cf; }
  .tab_content-3 > h1 {
    font-size: 3rem;
    font-weight: 600;
    color: #060199; }
  .tab_content-3 > p {
    font-size: 1.3rem;
    color: #060199;
    display: block;
    margin-top: 1rem; }
  .tab_content-3 > button {
    background: #060199;
    color: white;
    border: none;
    outline: none;
    padding: 1rem 3rem;
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 5px;
    margin-top: 6rem;
    cursor: pointer; }
    .tab_content-3 > button:hover {
      background: #0b04cf; }
  .tab_content-8 > h1 {
    font-size: 2.4rem;
    font-weight: 600;
    color: #060199; }

.card {
  margin: 3rem 0; }
  .card_content {
    display: block;
    margin: auto;
    background: #060199;
    width: 62vw;
    height: max-content;
    padding: 3rem 2rem;
    text-align: center;
    color: white;
    border-radius: 10px; }
    .card_content > h1 {
      font-size: 1.7rem;
      margin-bottom: 0.5rem; }
    .card_content > span {
      font-weight: 600;
      font-size: 1.2rem;
      display: block;
      margin-bottom: 0.7rem; }
    .card_content > p {
      margin: 0 4rem;
      letter-spacing: 0.3px;
      font-size: 1.2rem;
      line-height: 30px; }
    .card_content > a {
      text-decoration: none;
      display: block;
      background-color: #0b04cf;
      width: 20rem;
      padding: 1rem 2rem;
      border-radius: 12px;
      margin: 0 auto;
      margin-top: 1.5rem;
      color: #ffffff; }

.instruction {
  margin: 5rem 0;
  text-align: center; }
  .instruction > h1 {
    font-size: 2.5rem;
    color: #060199;
    letter-spacing: 3px; }
  .instruction > p {
    font-size: 1.1rem;
    color: #060199;
    line-height: 30px;
    letter-spacing: 0.4px; }
  .instruction_container {
    margin: 3rem 5rem;
    display: flex;
    flex-direction: column; }
  .instruction_div {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: flex-start; }
    .instruction_div > .line {
      position: absolute;
      width: 2px;
      height: 100%;
      left: 50%;
      top: 20%;
      background: #060199; }
    .instruction_div-img {
      width: 30%;
      height: 15rem;
      background: #ffffff;
      margin: 2rem; }
    .instruction_div-no {
      margin-top: 3rem;
      position: relative;
      width: 3rem;
      height: 3rem;
      border-radius: 50px;
      background: #63cef8;
      box-shadow: 0 5px 10px rgba(99, 206, 248, 0.5); }
      .instruction_div-no > span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #ffffff; }
    .instruction_div-content {
      text-align: left;
      width: 30%;
      margin: 2rem; }
      .instruction_div-content > h2 {
        font-size: 1.5rem;
        margin-bottom: 0.6rem;
        color: #060199; }
      .instruction_div-content > p {
        font-size: 1.2rem;
        color: #3d3d3d;
        line-height: 30px;
        letter-spacing: 0.4px;
        font-weight: 600; }

.info {
  padding: 4rem 0; }
  .info > h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #060199;
    letter-spacing: 3px; }
  .info_container {
    margin: 3rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap; }
  .info_div {
    position: relative;
    padding: 2rem 0;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: flex-start; }
    .info_div-line {
      position: absolute;
      height: 65%;
      width: 1.5px;
      top: 44%;
      left: 12%;
      background: #060199; }
    .info_div-no {
      position: relative;
      width: 3rem;
      height: 3rem;
      border-radius: 50px;
      background: #63cef8; }
      .info_div-no > span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #ffffff; }
    .info_div-content {
      width: 70%;
      margin-left: 2rem; }
      .info_div-content > p {
        font-size: 1.3rem;
        color: #3d3d3d;
        line-height: 30px;
        letter-spacing: 0.4px; }
      .info_div-content > h3 {
        font-size: 1.4rem;
        letter-spacing: 0.6px;
        margin-bottom: 0.5rem;
        color: #060199; }
      .info_div-content > span {
        color: #060199;
        font-size: 1.2rem;
        font-weight: 500;
        display: block;
        margin-bottom: 0.8rem; }

.info-2 {
  margin-top: 8rem;
  margin-bottom: 5rem; }
  .info-2 > h1 {
    font-size: 2.5rem;
    color: #060199;
    letter-spacing: 3px;
    margin-bottom: 0.5rem;
    text-align: center; }
  .info-2 > p {
    font-size: 1.1rem;
    color: #060199;
    text-align: center;
    line-height: 30px;
    letter-spacing: 0.4px; }
  .info-2_container {
    width: 75vw;
    display: block;
    margin: 5rem auto; }
  .info-2_div {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
    .info-2_div:not(:last-child) {
      margin-bottom: 3rem; }
    .info-2_div-content {
      width: 50%; }
      .info-2_div-content > h3 {
        font-size: 1.4rem;
        color: #060199;
        margin-bottom: 0.5rem; }
      .info-2_div-content > p {
        font-size: 1.322rem;
        font-weight: 500;
        color: #3d3d3d;
        text-align: justify;
        margin-bottom: 0.7rem;
        letter-spacing: 0.5px;
        line-height: 30px; }
      .info-2_div-content > span {
        font-size: 1.2rem;
        font-weight: 600;
        color: #060199;
        margin-bottom: 0.7rem; }
    .info-2_div-img {
      background: white; }
      .info-2_div-img-1 {
        width: 30rem;
        height: 20rem; }
      .info-2_div-img-2 {
        width: 10rem;
        height: 10rem; }
      .info-2_div-img-3 {
        width: 20rem;
        height: 14rem; }

.faq {
  margin: 3rem 0; }
  .faq > h1 {
    font-size: 2rem;
    text-align: center;
    color: #060199; }
  .faq_container {
    width: 65%;
    display: block;
    margin: 5rem auto; }
  .faq ul {
    list-style: none;
    perspective: 900;
    padding: 0;
    margin: 0; }
  .faq ul li {
    position: relative;
    padding: 0;
    margin: 0;
    padding: 2.5rem 0;
    border-bottom: 1px solid #060199; }
  .faq ul li > h2 {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 1rem; }
  .faq ul li > p {
    font-size: 1.2rem;
    line-height: 30px;
    letter-spacing: 0.4px; }
  .faq ul li:nth-of-type(1) {
    animation-delay: 0.5s;
    padding-top: 0; }
  .faq ul li:nth-of-type(2) {
    animation-delay: 0.75s; }
  .faq ul li:nth-of-type(3) {
    animation-delay: 1s; }
  .faq ul li i {
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 16px;
    right: 0; }
  .faq ul li i:before, .faq ul li i:after {
    content: "";
    position: absolute;
    background-color: #060199;
    width: 3px;
    height: 9px; }
  .faq ul li i:before {
    transform: translate(-2px, 0) rotate(45deg); }
  .faq ul li i:after {
    transform: translate(2px, 0) rotate(-45deg); }
  .faq ul li input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0; }
  .faq ul li input[type=checkbox]:checked ~ p {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%); }
  .faq ul li input[type=checkbox]:checked ~ i:before {
    transform: translate(2px, 0) rotate(45deg); }
  .faq ul li input[type=checkbox]:checked ~ i:after {
    transform: translate(-2px, 0) rotate(-45deg); }

@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg); }
  5% {
    opacity: 1; }
  80% {
    transform: rotateX(8deg); }
  83% {
    transform: rotateX(6deg); }
  92% {
    transform: rotateX(-3deg); }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg); } }
