*, *::after, *::before {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box; }

body {
  background-color: #ecf7ff;
  font-family: 'Raleway', sans-serif; }
  @media (min-height: 900px) {
    body {
      font-size: 130% !important; } }

.nav {
  padding: 0 3rem;
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (min-height: 900px) {
    .nav {
      height: 15vh; } }
  .nav > h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
    color: #00288a;
    letter-spacing: 0.5px; }
    .nav > h3 > i {
      color: #3dbcf9; }
  .nav_links {
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media (min-height: 900px) {
      .nav_links {
        width: 20%; } }
    .nav_links-btn {
      font-size: 1.1rem;
      background-color: #00288a;
      color: #ffffff;
      text-decoration: none;
      font-weight: 600;
      border-radius: 12px;
      border: none;
      outline: none;
      padding: 1rem 2rem;
      cursor: pointer; }
      @media (min-height: 900px) {
        .nav_links-btn {
          font-size: 1.3rem;
          padding: 1.3rem 3rem; } }
    .nav_links-icon {
      position: relative;
      text-decoration: none;
      width: 3rem;
      height: 3px;
      background: #3d3d3d; }
      @media (min-height: 900px) {
        .nav_links-icon {
          width: 4rem;
          height: 4px; } }
      .nav_links-icon::before {
        content: " ";
        position: absolute;
        top: -0.7rem;
        left: 0;
        width: 3rem;
        height: 3px;
        background-color: #3d3d3d; }
        @media (min-height: 900px) {
          .nav_links-icon::before {
            width: 4rem;
            height: 4px; } }
      .nav_links-icon::after {
        content: " ";
        position: absolute;
        bottom: -0.7rem;
        left: 0;
        width: 3rem;
        height: 3px;
        background-color: #3d3d3d; }
        @media (min-height: 900px) {
          .nav_links-icon::after {
            width: 4rem;
            height: 4px; } }

.header {
  margin: 1rem 2rem 2rem 2rem;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 63px;
  box-shadow: 0 1rem 4rem rgba(11, 4, 207, 0.2); }
  @media (min-width: 1600px) {
    .header {
      margin: 4rem 10rem;
      margin-top: 1rem; } }
  .header_left {
    width: 65%;
    display: flex;
    justify-content: space-between; }
    .header_left_nav {
      height: 36rem;
      width: 9%;
      padding: 1rem 2rem;
      border-radius: 50px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      background: #00288a;
      box-shadow: 0 1rem 2rem rgba(11, 4, 207, 0.1); }
      .header_left_nav-link {
        text-decoration: none;
        color: #ffffff;
        font-size: 1.2rem;
        font-weight: 500; }
        .header_left_nav-link > img {
          width: 1.7rem; }
        .header_left_nav-link--active {
          background: #ffffff;
          color: #00288a;
          padding: 0.5rem 1rem;
          border-radius: 30px;
          font-size: 1rem; }
    .header_left-content {
      text-align: center;
      width: 80%; }
      .header_left-content-top {
        position: relative;
        height: 15rem;
        padding-top: 2rem;
        padding-left: 2rem;
        border-radius: 12px;
        border: 1px solid #00288a; }
        .header_left-content-top > textarea {
          font-family: 'Raleway', sans-serif;
          font-size: 3rem;
          color: #00288a;
          outline: none;
          border: none;
          width: 100%;
          height: 100%;
          background-color: transparent; }
        .header_left-content-top > textarea::placeholder {
          font-size: 3rem;
          color: #00288a;
          letter-spacing: 3px; }
      .header_left-content-bottom {
        margin-top: 0.7rem;
        display: flex;
        align-items: center; }
        .header_left-content-bottom > i {
          margin-right: 0.5rem;
          color: #3dbcf9;
          background: white;
          padding: 1rem;
          border-radius: 50px;
          box-shadow: 0 3px 4px; }
        .header_left-content-bottom > p {
          color: #3dbcf9;
          font-size: 1.1rem;
          letter-spacing: 0.3px; }
  .header_right {
    min-height: 36rem;
    max-height: max-content;
    padding: 3rem 0;
    border-radius: 16px;
    background: #00288a;
    width: 28%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .header_right_img {
      width: 15rem;
      height: 12rem;
      object-fit: contain;
      margin-bottom: 3rem; }
    .header_right .tabs {
      width: 90%; }
    .header_right .tab {
      margin: auto;
      width: 80%;
      color: white;
      overflow: hidden;
      margin-bottom: 1rem; }
      .header_right .tab > input {
        position: absolute;
        opacity: 0;
        z-index: -1; }
      .header_right .tab-label {
        display: flex;
        justify-content: space-between;
        padding: 1em;
        background: #113a9f;
        font-weight: bold;
        cursor: pointer;
        /* Icon */ }
        .header_right .tab-label:hover {
          background: #001957; }
        .header_right .tab-label::after {
          content: "\276F";
          width: 1em;
          height: 1em;
          text-align: center;
          transition: all .35s; }
      .header_right .tab-content {
        max-height: 0;
        padding: 0 1em;
        color: #00288a;
        background: white;
        transition: all .35s; }
        .header_right .tab-content-1 > p {
          margin-bottom: 0.1rem; }
        .header_right .tab-content-1 > span {
          display: block;
          margin-bottom: 0.3rem; }
        .header_right .tab-content-2 {
          display: flex; }
          .header_right .tab-content-2 > div {
            width: 4rem;
            height: 4rem;
            padding: 0.3rem; }
            .header_right .tab-content-2 > div:first-child {
              margin-right: 0.5rem; }
            .header_right .tab-content-2 > div > img {
              width: 100%;
              height: 100%;
              object-fit: cover; }
          .header_right .tab-content-2 > .active {
            border: 3px solid #3dbcf9; }
      .header_right .tab-close {
        display: flex;
        justify-content: flex-end;
        padding: 1em;
        font-size: 0.75em;
        background: #00288a;
        cursor: pointer; }
        .header_right .tab-close:hover {
          background: #0c2971; }
    .header_right input:checked + .tab-label {
      background: #001957; }
      .header_right input:checked + .tab-label::after {
        transform: rotate(90deg); }
    .header_right input:checked ~ .tab-content {
      max-height: 100vh;
      padding: 1em; }
    .header_right > button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-decoration: none;
      background-color: #113a9f;
      border: none;
      width: 70%;
      padding: 1rem 1.5rem;
      color: white;
      border-radius: 12px;
      font-size: 1rem; }
      .header_right > button > i {
        transform: rotate(90deg); }
      .header_right > button > p {
        letter-spacing: 0.7px; }
    .header_right > .qr-code_container {
      width: 70%;
      padding: 2rem;
      background: #113a9f;
      border-radius: 12px;
      display: flex;
      justify-content: space-between; }
      .header_right > .qr-code_container > i {
        font-size: 2rem;
        color: white;
        cursor: pointer; }
    .header_right > .toggle-button > div {
      margin-left: 0.6rem; }
      .header_right > .toggle-button > div > p {
        color: white; }
    .header_right-btns {
      margin-top: 3rem;
      width: 80%;
      display: flex;
      justify-content: space-evenly;
      align-items: center; }
      .header_right-btns > button {
        padding: 1rem 2rem;
        border: none;
        outline: none;
        cursor: pointer;
        border-radius: 32px;
        color: white; }
        .header_right-btns > button > span {
          font-size: 1.3rem; }
        .header_right-btns > button:first-child {
          background: #ff9b05; }
        .header_right-btns > button:last-child {
          background: #3dbcf9; }

.tab_content {
  width: 80%;
  display: none !important; }
  .tab_content--active {
    display: block !important; }
  .tab_content > h1 {
    padding-top: 2rem;
    font-size: 3rem;
    text-align: left;
    font-weight: 600;
    color: #00288a; }
  .tab_content > .form {
    margin: 3rem 0; }
  .tab_content .form_group {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1.5rem; }
  .tab_content .form_label {
    font-size: 1.2rem;
    font-weight: 600;
    color: #00288a; }
  .tab_content .form_input {
    width: 70%;
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 12px;
    border: 2px solid #3dbcf9;
    outline: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); }
  .tab_content .form_textarea {
    font-family: inherit;
    width: 70%;
    height: 6rem;
    padding: 1rem;
    border-radius: 12px;
    border: 2px solid #3dbcf9;
    font-size: 1.2rem;
    outline: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); }
  .tab_content .form_btn {
    display: block;
    background: #00288a;
    color: white;
    border: none;
    outline: none;
    padding: 1rem 3rem;
    font-size: 1.133rem;
    font-weight: 500;
    border-radius: 25px;
    margin-top: 4rem;
    cursor: pointer; }
    .tab_content .form_btn:hover {
      background: #113a9f; }
  .tab_content .radio_inputs {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
  .tab_content .radio_group {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    margin-right: 1rem; }
  .tab_content .radio_input {
    width: 1.4rem;
    height: 1.4rem;
    margin-right: 0.4rem; }
  .tab_content .radio_label {
    font-size: 1.2rem; }
  .tab_content-4 {
    margin: auto;
    margin-top: 7rem; }
    .tab_content-4 h1 {
      font-size: 3.5rem; }
    .tab_content-4 input {
      padding-left: 0.5rem;
      margin: 2rem 0;
      background: transparent;
      outline: none;
      border: none;
      font-size: 1.3rem; }
  .tab_content-5 {
    margin: auto;
    margin-top: 7rem; }
    .tab_content-5 h1 {
      font-size: 3.5rem; }
    .tab_content-5 input {
      padding-left: 0.5rem;
      margin: 2rem 0;
      background: transparent;
      outline: none;
      border: none;
      font-size: 1.3rem; }
  .tab_content-9 {
    margin: auto;
    margin-top: 7rem; }
    .tab_content-9 h1 {
      font-size: 3.5rem; }
    .tab_content-9 input {
      padding-left: 0.5rem;
      margin: 2rem 0;
      background: transparent;
      outline: none;
      border: none;
      font-size: 1.3rem; }

.card {
  margin: 3rem 0; }
  .card_content {
    display: block;
    margin: auto;
    background: #00288a;
    width: 62vw;
    height: max-content;
    padding: 3rem 2rem;
    text-align: center;
    color: white;
    border-radius: 10px; }
    .card_content > h1 {
      font-size: 1.7rem;
      margin-bottom: 0.5rem; }
    .card_content > span {
      font-weight: 600;
      font-size: 1.2rem;
      display: block;
      margin-bottom: 0.7rem; }
    .card_content > p {
      margin: 0 4rem;
      letter-spacing: 0.3px;
      font-size: 1.2rem;
      line-height: 30px; }
    .card_content > a {
      text-decoration: none;
      display: block;
      background-color: #113a9f;
      width: 20rem;
      padding: 1rem 2rem;
      border-radius: 12px;
      margin: 0 auto;
      margin-top: 1.5rem;
      color: #ffffff; }

.faq {
  margin: 3rem 0; }
  .faq > h1 {
    font-size: 2rem;
    text-align: center;
    color: #00288a; }
  .faq_container {
    width: 65%;
    display: block;
    margin: 5rem auto; }
  .faq ul {
    list-style: none;
    perspective: 900;
    padding: 0;
    margin: 0; }
  .faq ul li {
    position: relative;
    padding: 0;
    margin: 0;
    padding: 2.5rem 0;
    border-bottom: 1px solid #00288a; }
  .faq ul li > h2 {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 1rem; }
  .faq ul li > p {
    font-size: 1.2rem;
    line-height: 30px;
    letter-spacing: 0.4px; }
  .faq ul li:nth-of-type(1) {
    animation-delay: 0.5s;
    padding-top: 0; }
  .faq ul li:nth-of-type(2) {
    animation-delay: 0.75s; }
  .faq ul li:nth-of-type(3) {
    animation-delay: 1s; }
  .faq ul li i {
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 16px;
    right: 0; }
  .faq ul li i:before, .faq ul li i:after {
    content: "";
    position: absolute;
    background-color: #00288a;
    width: 3px;
    height: 9px; }
  .faq ul li i:before {
    transform: translate(-2px, 0) rotate(45deg); }
  .faq ul li i:after {
    transform: translate(2px, 0) rotate(-45deg); }
  .faq ul li input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0; }
  .faq ul li input[type=checkbox]:checked ~ p {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%); }
  .faq ul li input[type=checkbox]:checked ~ i:before {
    transform: translate(2px, 0) rotate(45deg); }
  .faq ul li input[type=checkbox]:checked ~ i:after {
    transform: translate(-2px, 0) rotate(-45deg); }

@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg); }
  5% {
    opacity: 1; }
  80% {
    transform: rotateX(8deg); }
  83% {
    transform: rotateX(6deg); }
  92% {
    transform: rotateX(-3deg); }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg); } }

.info {
  padding: 4rem 0; }
  .info > h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #00288a;
    letter-spacing: 3px; }
  .info_container {
    margin: 3rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap; }
  .info_div {
    position: relative;
    padding: 2rem 0;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: flex-start; }
    .info_div-line {
      position: absolute;
      height: 65%;
      width: 1.5px;
      top: 44%;
      left: 12%;
      background: #00288a; }
    .info_div-no {
      position: relative;
      width: 3rem;
      height: 3rem;
      border-radius: 50px;
      background: #3dbcf9; }
      .info_div-no > span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #ffffff; }
    .info_div-content {
      width: 70%;
      margin-left: 2rem; }
      .info_div-content > p {
        font-size: 1.3rem;
        color: #3d3d3d;
        line-height: 30px;
        letter-spacing: 0.4px; }
      .info_div-content > h3 {
        font-size: 1.4rem;
        letter-spacing: 0.6px;
        margin-bottom: 0.5rem;
        color: #00288a; }
      .info_div-content > span {
        color: #00288a;
        font-size: 1.2rem;
        font-weight: 500;
        display: block;
        margin-bottom: 0.8rem; }

.info-2 {
  margin-top: 8rem;
  margin-bottom: 5rem; }
  .info-2 > h1 {
    font-size: 2.5rem;
    color: #00288a;
    letter-spacing: 3px;
    margin-bottom: 0.5rem;
    text-align: center; }
  .info-2 > p {
    font-size: 1.1rem;
    color: #00288a;
    text-align: center;
    line-height: 30px;
    letter-spacing: 0.4px; }
  .info-2_container {
    width: 75vw;
    display: block;
    margin: 5rem auto; }
  .info-2_div {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
    .info-2_div:not(:last-child) {
      margin-bottom: 3rem; }
    .info-2_div-content {
      width: 50%; }
      .info-2_div-content > h3 {
        font-size: 1.4rem;
        color: #00288a;
        margin-bottom: 0.5rem; }
      .info-2_div-content > p {
        font-size: 1.322rem;
        font-weight: 500;
        color: #3d3d3d;
        text-align: justify;
        margin-bottom: 0.7rem;
        letter-spacing: 0.5px;
        line-height: 30px; }
      .info-2_div-content > span {
        font-size: 1.2rem;
        font-weight: 600;
        color: #00288a;
        margin-bottom: 0.7rem; }
    .info-2_div-img {
      background: white; }
      .info-2_div-img-1 {
        width: 30rem;
        height: 20rem; }
      .info-2_div-img-2 {
        width: 10rem;
        height: 10rem; }
      .info-2_div-img-3 {
        width: 20rem;
        height: 14rem; }

.instruction {
  margin: 5rem 0;
  text-align: center; }
  .instruction > h1 {
    font-size: 2.5rem;
    color: #00288a;
    letter-spacing: 3px; }
  .instruction > p {
    font-size: 1.1rem;
    color: #00288a;
    line-height: 30px;
    letter-spacing: 0.4px; }
  .instruction_container {
    margin: 3rem 5rem;
    display: flex;
    flex-direction: column; }
  .instruction_div {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: flex-start; }
    .instruction_div > .line {
      position: absolute;
      width: 2px;
      height: 100%;
      left: 50%;
      top: 20%;
      background: #00288a; }
    .instruction_div-img {
      width: 30%;
      height: 15rem;
      background: #ffffff;
      margin: 2rem; }
    .instruction_div-no {
      margin-top: 3rem;
      position: relative;
      width: 3rem;
      height: 3rem;
      border-radius: 50px;
      background: #3dbcf9;
      box-shadow: 0 5px 10px rgba(61, 188, 249, 0.5); }
      .instruction_div-no > span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #ffffff; }
    .instruction_div-content {
      text-align: left;
      width: 30%;
      margin: 2rem; }
      .instruction_div-content > h2 {
        font-size: 1.5rem;
        margin-bottom: 0.6rem;
        color: #00288a; }
      .instruction_div-content > p {
        font-size: 1.2rem;
        color: #3d3d3d;
        line-height: 30px;
        letter-spacing: 0.4px;
        font-weight: 600; }

.qrcontent_container {
  display: flex;
  margin: 10rem 0;
  position: relative; }
  .qrcontent_container-left {
    width: 50%;
    margin-left: 5rem; }
    .qrcontent_container-left_container {
      width: 65%;
      display: block;
      margin: 5rem auto; }
    .qrcontent_container-left .form_btn {
      display: block;
      background: #00288a;
      color: white;
      border: none;
      outline: none;
      padding: 1rem 3rem;
      font-size: 1.133rem;
      font-weight: 500;
      border-radius: 25px;
      margin-top: 4rem;
      cursor: pointer; }
      .qrcontent_container-left .form_btn:hover {
        background: #113a9f; }
    .qrcontent_container-left .qrname {
      position: relative; }
      .qrcontent_container-left .qrname > i {
        position: absolute;
        top: 50%;
        left: 3%;
        transform: translate(-3%, -50%);
        font-size: 1.5rem;
        color: #777; }
      .qrcontent_container-left .qrname > input {
        width: 100%;
        height: 100%;
        padding: 1rem 4rem;
        border: 2px solid #3dbcf9;
        font-size: 1.2rem;
        outline: none; }
    .qrcontent_container-left ul {
      list-style: none;
      perspective: 900;
      padding: 0;
      margin: 0;
      margin-top: 3rem; }
    .qrcontent_container-left ul li {
      position: relative;
      padding: 1rem;
      border: 2px solid #3dbcf9;
      background: white; }
      .qrcontent_container-left ul li:not(:last-child) {
        margin-bottom: 1rem; }
    .qrcontent_container-left ul li > h2 {
      font-size: 1rem;
      font-weight: 600; }
    .qrcontent_container-left ul li > h2 > i {
      margin-right: 0.3rem; }
    .qrcontent_container-left ul li > p {
      font-size: 1.2rem;
      line-height: 30px;
      letter-spacing: 0.4px; }
    .qrcontent_container-left ul li:nth-of-type(1) {
      animation-delay: 0.5s; }
    .qrcontent_container-left ul li:nth-of-type(2) {
      animation-delay: 0.75s; }
    .qrcontent_container-left ul li:nth-of-type(3) {
      animation-delay: 1s; }
    .qrcontent_container-left ul li > i {
      position: absolute;
      transform: translate(-5%, 0);
      margin-top: 6px;
      right: 5%; }
    .qrcontent_container-left ul li > i:before, .qrcontent_container-left ul li > i:after {
      content: "";
      position: absolute;
      background-color: #00288a;
      width: 3px;
      height: 9px; }
    .qrcontent_container-left ul li > i:before {
      transform: translate(-2px, 0) rotate(45deg); }
    .qrcontent_container-left ul li > i:after {
      transform: translate(2px, 0) rotate(-45deg); }
    .qrcontent_container-left ul li input[type=checkbox] {
      position: absolute;
      top: 0%;
      right: 0%;
      cursor: pointer;
      width: 100%;
      height: 4rem;
      z-index: 1;
      opacity: 0; }
    .qrcontent_container-left ul li input[type=checkbox]:checked ~ form {
      margin-top: 0;
      max-height: 0;
      opacity: 0;
      padding: 0;
      transform: translate(0, 50%); }
    .qrcontent_container-left ul li input[type=checkbox]:checked ~ i:before {
      transform: translate(2px, 0) rotate(45deg); }
    .qrcontent_container-left ul li input[type=checkbox]:checked ~ i:after {
      transform: translate(-2px, 0) rotate(-45deg); }
  .qrcontent_container-right {
    position: fixed;
    top: 10%;
    right: 5rem;
    width: 30%;
    height: 50rem;
    margin-left: 3rem;
    background-color: white;
    box-shadow: 0 1rem 4rem rgba(11, 4, 207, 0.2); }
    .qrcontent_container-right .nav-tabs {
      float: left;
      width: 100%;
      margin: 0;
      list-style-type: none;
      border-bottom: 1px solid #ddd; }
      .qrcontent_container-right .nav-tabs > li {
        float: left;
        margin-bottom: -1px; }
        .qrcontent_container-right .nav-tabs > li > a {
          color: #00288a;
          float: left;
          margin-right: 2px;
          line-height: 1.42857143;
          padding: 10px;
          border: 1px solid transparent;
          border-radius: 4px 4px 0 0;
          text-decoration: none; }
        .qrcontent_container-right .nav-tabs > li.active > a,
        .qrcontent_container-right .nav-tabs > li.active > a:hover,
        .qrcontent_container-right .nav-tabs > li.active > a:focus {
          color: white;
          cursor: default;
          background-color: #3dbcf9;
          border-radius: 10px; }
    .qrcontent_container-right .tab-content {
      float: left;
      width: 100%; }
      .qrcontent_container-right .tab-content > .tab-pane {
        display: none; }
        .qrcontent_container-right .tab-content > .tab-pane > img {
          width: 80%;
          height: 20rem;
          object-fit: cover;
          margin: auto;
          display: flex; }
        .qrcontent_container-right .tab-content > .tab-pane.active {
          display: block;
          padding: 2.5% 3.5%; }
      .qrcontent_container-right .tab-content > .active {
        display: block; }

.phone {
  margin: 0 auto;
  width: 20rem;
  height: max-content;
  padding: 50px 0 80px;
  background: #ccc;
  border-radius: 25px;
  position: relative;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1); }
  .phone__screen {
    margin: 0 auto;
    height: 29rem;
    background: #fff;
    position: relative;
    background: #f2f2f2;
    width: 375px; }
  .phone:after, .phone:before {
    position: absolute;
    background: #999;
    content: "";
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto; }
  .phone:after {
    top: 20px;
    height: 8px;
    width: 60px;
    border-radius: 4px; }
  .phone:before {
    width: 40px;
    height: 40px;
    bottom: 20px;
    border-radius: 100%; }
  .phone_screen {
    background-color: white;
    width: 90%;
    height: 29rem;
    margin: auto;
    overflow-y: scroll; }

.dashheader {
  background-color: white;
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  box-shadow: 0 1rem 4rem rgba(11, 4, 207, 0.2); }
  .dashheader_logo {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    color: #3d3d3d;
    letter-spacing: 0.5px; }
    .dashheader_logo > i {
      color: #3dbcf9; }
  .dashheader_user {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .dashheader_user > i {
      color: #00288a;
      font-size: 1.3rem;
      cursor: pointer;
      padding: 1rem;
      border-radius: 50%; }
      .dashheader_user > i:hover {
        background-color: #f0eeee; }
    .dashheader_user > div {
      padding: 0.7rem 1rem; }
      .dashheader_user > div > i {
        color: #00288a;
        font-size: 1.3rem;
        cursor: pointer;
        margin-right: 0.5rem; }
      .dashheader_user > div > span {
        color: #00288a;
        font-size: 1.2rem;
        cursor: pointer; }
      .dashheader_user > div:hover {
        background-color: #f0eeee; }

.dashtabs {
  display: flex;
  min-height: 90vh; }
  .dashtabs_sidebar {
    width: 20%;
    flex-shrink: 0;
    background: #00288a; }
    .dashtabs_sidebar input {
      display: block;
      margin: 2rem auto;
      padding: 0.7rem 1rem;
      border: 3px solid #3dbcf9;
      outline: none;
      font-size: 1rem; }
    .dashtabs_sidebar span {
      display: block;
      margin: 1rem 0 0.7rem 2rem;
      color: white;
      font-size: 0.9rem;
      font-weight: 700; }
  .dashtabs_btn {
    position: relative;
    display: flex;
    padding: 15px 0 15px 2rem;
    font-size: 1.1rem;
    color: white;
    outline: none;
    width: 100%;
    cursor: pointer; }
    .dashtabs_btn > i {
      margin-right: 1rem; }
  .dashtabs_content {
    padding: 2rem 3rem 3rem 3rem;
    width: 80%;
    display: none; }
  .dashtabs_btn--active {
    color: white;
    background-color: #113a9f; }
  .dashtabs_content--active {
    display: block; }
  .dashtabs_content_nav {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .dashtabs_content_nav .heading {
      color: #00288a;
      font-size: 1.4rem;
      font-weight: 500; }
      .dashtabs_content_nav .heading > i {
        margin-right: 1rem; }
    .dashtabs_content_nav .btns {
      display: flex; }
      .dashtabs_content_nav .btns > a {
        text-decoration: none;
        width: 12rem;
        padding: 0.9rem 0.7rem;
        font-size: 1.1rem;
        color: #ffffff;
        border: none;
        outline: none;
        cursor: pointer; }
        .dashtabs_content_nav .btns > a:hover {
          opacity: 0.7; }
        .dashtabs_content_nav .btns > a:first-of-type {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-right: 1.5rem;
          background: #ff9b05; }
        .dashtabs_content_nav .btns > a:last-of-type {
          background: #3dbcf9; }

.dashtabs_content {
  position: relative; }
  .dashtabs_content .QRInfo {
    margin: 3rem 0 2rem 0;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    box-shadow: 0 1rem 2rem rgba(11, 4, 207, 0.1); }
    .dashtabs_content .QRInfo_1 {
      width: 40%; }
      .dashtabs_content .QRInfo_1 > span {
        font-size: 1.1rem;
        font-weight: 600;
        color: #777; }
      .dashtabs_content .QRInfo_1 > h3 {
        font-size: 1.5rem;
        color: #00288a;
        margin: 0.5rem 0 1rem 0; }
        .dashtabs_content .QRInfo_1 > h3 > i {
          margin-right: 0.5rem; }
      .dashtabs_content .QRInfo_1 > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap; }
        .dashtabs_content .QRInfo_1 > div > span {
          cursor: pointer;
          color: #333;
          width: 40%;
          margin-top: 0.4rem;
          font-size: 1.1rem; }
          .dashtabs_content .QRInfo_1 > div > span > i {
            margin-right: 0.4rem; }
    .dashtabs_content .QRInfo_2 {
      display: flex;
      align-items: center; }
      .dashtabs_content .QRInfo_2 > div > p {
        text-align: center; }
        .dashtabs_content .QRInfo_2 > div > p > span {
          display: block;
          font-size: 3rem;
          color: #00288a; }
        .dashtabs_content .QRInfo_2 > div > p > small {
          font-size: 1.2rem; }
      .dashtabs_content .QRInfo_2 > div > button {
        background: transparent;
        border: none;
        outline: none;
        color: #3dbcf9;
        font-size: 1.2rem;
        margin-top: 2rem; }
      .dashtabs_content .QRInfo_2 > div > img {
        width: 10rem;
        height: 10rem;
        margin-left: 2rem; }
    .dashtabs_content .QRInfo_3 > button {
      border: 2px solid #00288a;
      color: #00288a;
      background: #ffffff;
      padding: 0.5rem 2.5rem;
      font-size: 1.1rem;
      cursor: pointer; }

.no_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }
  .no_content > i {
    font-size: 2.5rem;
    color: #777;
    margin-bottom: 3rem; }
  .no_content > h1 {
    color: #777; }

.qrtype_nav {
  height: 9vh;
  background-color: #ffffff;
  box-shadow: 0 1rem 2rem rgba(11, 4, 207, 0.1);
  display: flex;
  align-items: center;
  padding-left: 2rem;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0; }
  .qrtype_nav a {
    text-decoration: none; }
  .qrtype_nav i {
    font-size: 1.3rem;
    cursor: pointer;
    color: #00288a; }
    .qrtype_nav i:hover {
      color: #3dbcf9; }

.qrtype_searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 9rem 0 3rem 0; }
  .qrtype_searchbar > h2 {
    color: #00288a; }
  .qrtype_searchbar > div {
    width: 40%;
    margin-left: 2rem;
    position: relative;
    font-size: 1.1rem; }
    .qrtype_searchbar > div > input {
      padding: 1rem 4rem;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      border: 2px solid #3dbcf9;
      font-size: 1.2rem;
      outline: none; }
    .qrtype_searchbar > div > i {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: #777; }
      .qrtype_searchbar > div > i:first-of-type {
        left: 5%; }
      .qrtype_searchbar > div > i:last-of-type {
        right: 5%; }

.qrtype_span {
  display: block;
  width: 60%;
  margin: auto;
  padding-bottom: 0.4rem;
  text-align: center;
  font-size: 1.2rem;
  color: #3dbcf9;
  border-bottom: 1px solid #3dbcf9; }

.qrtype_categories {
  display: flex;
  width: 80%;
  margin: 2rem auto;
  margin-bottom: 6rem;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }
  .qrtype_categories > a {
    position: relative;
    width: 45%;
    padding: 1rem 1rem 1.5rem 1rem;
    background-color: #ffffff;
    box-shadow: 0 1rem 2rem rgba(11, 4, 207, 0.1);
    margin-bottom: 2rem;
    border: 1px solid #3dbcf9;
    text-decoration: none; }
    .qrtype_categories > a > i:first-of-type {
      border-radius: 50px;
      padding: 0.7rem;
      font-size: 1.5rem;
      color: #3dbcf9;
      background: white;
      box-shadow: 0 2px 4px #3dbcf9; }
    .qrtype_categories > a > .check {
      display: none;
      position: absolute;
      top: 2%;
      right: 2%;
      padding: 0.7rem;
      font-size: 1.5rem;
      color: #3dbcf9; }
    .qrtype_categories > a > h4 {
      display: inline-block;
      margin-left: 2rem;
      color: #3dbcf9;
      font-size: 1.2rem; }
    .qrtype_categories > a > small {
      display: block;
      margin-left: 5.2rem;
      font-size: 1.1rem;
      color: #3d3d3d; }

.qrtype_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 4rem;
  background: #ecf7ff;
  border-top: 2px solid #3dbcf9; }
  .qrtype_btn > a {
    background: #113a9f;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0.5rem 3.5rem; }
    .qrtype_btn > a > i {
      margin-left: 1rem; }

.social_form {
  margin-top: 1rem; }

.design_form .form_group p {
  padding-top: 2.5rem;
  padding-bottom: 2rem; }
  .design_form .form_group p input {
    float: right; }

.design_form .form_group-color {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .design_form .form_group-color .color-picker {
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #f8f9f9; }
    .design_form .form_group-color .color-picker [type='color'] {
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      padding: 0;
      width: 15px;
      height: 15px;
      border: none; }
    .design_form .form_group-color .color-picker [type='color']::-webkit-color-swatch-wrapper {
      padding: 0; }
    .design_form .form_group-color .color-picker [type='color']::-webkit-color-swatch {
      border: none; }

.design_form .form_group-image {
  display: flex;
  align-items: center; }
  .design_form .form_group-image div {
    width: 7rem;
    height: 6rem;
    padding: 0.5rem;
    border: 1px solid; }
    .design_form .form_group-image div:first-child {
      margin-right: 1rem; }
    .design_form .form_group-image div > img {
      width: 100%;
      height: 100%;
      object-fit: cover; }

.basic_info p {
  padding-top: 2.5rem;
  padding-bottom: 2rem; }

.basic_info .form_group {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem; }
  .basic_info .form_group > input {
    width: 70%;
    padding: 0.5rem;
    font-size: 1rem; }
  .basic_info .form_group > textarea {
    width: 70%;
    height: 6rem;
    padding: 0.5rem;
    font-family: inherit;
    font-size: 1rem;
    letter-spacing: 0.5px; }
  .basic_info .form_group > select {
    width: 30%;
    padding: 0.5rem;
    font-family: inherit;
    font-size: 1rem; }

.links_form p {
  padding-top: 2.5rem;
  padding-bottom: 2rem; }

.links_form .form_group {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1.5rem; }
  .links_form .form_group > i {
    padding: 0.5rem; }
  .links_form .form_group > div {
    display: flex; }
    .links_form .form_group > div > i {
      padding: 1rem; }
  .links_form .form_group input {
    width: 24rem;
    height: 3rem;
    padding-left: 1rem;
    font-size: 1rem;
    margin-bottom: 1.5rem; }
  .links_form .form_group label {
    padding: 1rem;
    background: #ccc; }

.links_form .form_group-channel {
  display: flex;
  justify-content: space-between; }
  .links_form .form_group-channel > div {
    display: flex;
    flex-direction: column; }
    .links_form .form_group-channel > div > div {
      display: flex;
      flex-wrap: wrap;
      width: 70%; }
      .links_form .form_group-channel > div > div > i {
        padding: 0.5rem;
        font-size: 1.5rem; }

.option_form {
  padding: 1.5rem 1rem; }
  .option_form .form_group {
    display: flex;
    justify-content: space-between; }

.social_phone_screen > img {
  width: 100%;
  height: 10rem;
  object-fit: cover; }

.social_phone_screen-header {
  background: #9231d3;
  padding: 1rem 0.6rem;
  color: white;
  margin-top: -1rem;
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); }
  .social_phone_screen-header > h3 {
    padding-bottom: 0.7rem;
    font-size: 1rem; }
  .social_phone_screen-header > p {
    font-size: 0.9rem;
    width: 80%; }

.social_phone_screen > ul {
  padding: 0.5rem 0.6rem; }
  .social_phone_screen > ul > li {
    padding: 1rem 0;
    display: flex;
    border-bottom: 1px solid #3d3d3d; }
    .social_phone_screen > ul > li > i {
      margin-right: 0.7rem;
      padding: 0.7rem;
      background-color: #9231d3;
      font-size: 1.3rem;
      color: white;
      border-radius: 50px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); }

.web_form {
  padding: 1.5rem 0; }
  .web_form > p {
    font-size: 1rem;
    margin-bottom: 1rem; }
  .web_form > .form_group {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .web_form > .form_group > label {
      font-weight: 600;
      font-size: 0.9rem; }
    .web_form > .form_group > input {
      width: 24rem;
      height: 3rem;
      padding-left: 1rem;
      font-size: 1rem; }

.web_phone_screen > div {
  width: 100%;
  height: 3.6rem;
  background-color: #777;
  padding: 1rem 2.5rem 1rem 1rem; }
  .web_phone_screen > div > input {
    width: 100%;
    height: 100%;
    padding-left: 0.5rem; }
