.header{
    margin: 1rem 2rem 2rem 2rem;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 63px;
    box-shadow: $shadow-dark;
    @media(min-width: 1600px){
        margin: 4rem 10rem;
        margin-top: 1rem;
    }
    &_left{
        
        width: 65%;
        display: flex;
        justify-content: space-between;

        &_nav{
            height: 36rem;
            width: 9%;
            padding: 1rem 2rem;
            border-radius: 50px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            background: $very_dark_blue;
            box-shadow: $shadow-light;
            
            &-link{
                text-decoration: none;
                color: $white;
                font-size: 1.2rem;
                font-weight: 500;
                & > img{width: 1.7rem;}
                &--active{
                    background: $white;
                    color: $very_dark_blue;
                    padding: 0.5rem 1rem;
                    border-radius: 30px;
                    font-size: 1rem;
                }
            }
        }

        &-content{
            text-align: center;
            width: 80%;
            &-top{
                position: relative;
                height: 15rem;
                padding-top: 2rem;
                padding-left: 2rem;
                border-radius: 12px;
                border: 1px solid $very-dark-blue;
                & > textarea{
                    font-family: 'Raleway', sans-serif;
                    font-size: 3rem;
                    color: $very_dark_blue;
                    outline: none;
                    border: none;
                    width: 100%;
                    height: 100%;
                    background-color: transparent;
                }
                & > textarea::placeholder{
                    font-size: 3rem;
                    color: $very-dark-blue;
                    letter-spacing: 3px;
                }
            }
            &-bottom{
                margin-top: 0.7rem;
                display: flex;
                align-items: center;

                & > i{
                    margin-right: 0.5rem;
                    color: $dark-blue;
                    background: white;
                    padding: 1rem;
                    border-radius: 50px;
                    box-shadow: 0 3px 4px;
                } 
                & > p{
                    color: $dark-blue;
                    font-size: 1.1rem;
                    letter-spacing: 0.3px;
                }
            }
        }


    }
    &_right{
        height: 36rem;
        padding: 3rem 0;
        border-radius: 16px;
        background: $very_dark_blue;
        width: 28%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        &_img{
            width: 15rem;
            height: 12rem;
            object-fit: contain;
        }
        & > button{
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-decoration: none;
            background-color: $light_dark_blue;
            border: none;
            width: 70%;
            padding: 1rem 1.5rem;
            color: white;
            border-radius: 12px;
            font-size: 1rem;
            & > i {
                transform: rotate(90deg);
            }
            & > p{
                letter-spacing: 0.7px;
            } 
        }
        & > .qr-code_container{
            width: 70%;
            padding: 2rem;
            background: $light_dark_blue;
            border-radius: 12px;
            display: flex;
            justify-content: space-between;
            & > i{
                font-size: 2rem;
                color: white;
                cursor: pointer;
            }
        }
        & > .toggle-button{
            & > div{
                margin-left: 0.6rem;
                & > p {
                    color: white;
                }
            }
        }
        &-btns{
            width: 80%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            & > button{
                padding: 1rem 2rem;
                border: none;
                outline: none;
                cursor: pointer;
                border-radius: 32px;
                color: white;
                & > span{
                    font-size: 1.3rem;}
                &:first-child{
                    background: $yellow;
                }
                &:last-child{
                    background: $dark_blue;
                }
            }
        }
    }
}



.tab_content{
    width: 80%;
    display: none !important;
    &--active{
        display: block !important;
    }

    // form
    & > h1{
        padding-top: 2rem;
        font-size: 3rem;
        text-align: left;
        font-weight: 600;
        color: $very_dark_blue;
    }
    & > .form{
        margin: 3rem 0;  
    }
    .form_group{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 1.5rem;
    }
    .form_label{
        font-size: 1.2rem;
        font-weight: 600;
        color: $very_dark_blue;
    }
    .form_input{
        width: 70%;
        padding: 1rem;
        font-size: 1.2rem;
        border-radius: 12px;
        border: 2px solid $dark_blue;
        outline: none;
        box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    }
    .form_textarea{
        font-family: inherit;
        width: 70%;
        height: 6rem;
        padding: 1rem;
        border-radius: 12px;
        border: 2px solid $dark_blue;
        font-size: 1.2rem;
        outline: none;
        box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    }
    .form_btn{
        display: block;
        background: $very_dark_blue;
        color: white;
        border: none;
        outline: none;
        padding: 1rem 3rem;
        font-size: 1.133rem;
        font-weight: 500;
        border-radius: 25px;
        margin-top: 4rem;
        cursor: pointer;
        &:hover{
            background: $light_dark_blue;
        }
    }
    .radio_inputs{
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    .radio_group{
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        margin-right: 1rem;
    }
    .radio_input{
        width: 1.4rem;
        height: 1.4rem;
        margin-right: 0.4rem;
    }
    .radio_label{
        font-size: 1.2rem;
    }
    &-4{
        margin: auto;
        margin-top: 7rem;
        & h1{
            font-size: 3.5rem;
        }
        & input{
            padding-left: 0.5rem;
            margin: 2rem 0;
            background: transparent;
            outline: none;
            border: none;
            font-size: 1.3rem;
        }
    }
    &-5{
        margin: auto;
        margin-top: 7rem;
        & h1{
            font-size: 3.5rem;
        }
        & input{
            padding-left: 0.5rem;
            margin: 2rem 0;
            background: transparent;
            outline: none;
            border: none;
            font-size: 1.3rem;
        }
    }
    &-9{
        margin: auto;
        margin-top: 7rem;
        & h1{
            font-size: 3.5rem;
        }
        & input{
            padding-left: 0.5rem;
            margin: 2rem 0;
            background: transparent;
            outline: none;
            border: none;
            font-size: 1.3rem;
        }
    }
}





























