.info{
    padding:  4rem 0;
    & > h1{
        text-align: center;
        font-size: 2.5rem;
        color: $very-dark-blue;
        letter-spacing: 3px;
    }
    &_container{
        margin: 3rem 5rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    &_div{
        position: relative;
        padding: 2rem 0;
        width: 40vw;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        &-line{
            position: absolute;
            height: 65%;
            width: 1.5px;
            top: 44%;
            left: 12%;
            background: $very_dark_blue;
        }
        &-no{
            position: relative;
            width: 3rem;
            height: 3rem;
            border-radius: 50px;
            background: $dark_blue;
            & > span{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: $white;
            }
        }
        &-content{
            width: 70%;
            margin-left: 2rem;
            & > p{
                font-size: 1.3rem;
                color: #3d3d3d;
                line-height: 30px;
                letter-spacing: 0.4px;
            }
            & > h3{
                font-size: 1.4rem;
                letter-spacing: 0.6px;
                margin-bottom: 0.5rem;
                
                color: $very_dark_blue;
            }
            & > span{
                color: $very_dark_blue;
                font-size: 1.2rem;
                font-weight: 500;
                display: block;
                margin-bottom: 0.8rem;
            }
        }
    }
}


// Info-2
.info-2{
    margin-top: 8rem;
    margin-bottom: 5rem;
    & > h1{
        font-size: 2.5rem;
        color: $very-dark-blue;
        letter-spacing: 3px;
        margin-bottom: 0.5rem;
        text-align: center;
    }
    & > p{
        font-size: 1.1rem;
        color: $very-dark-blue;
        text-align: center;
        line-height: 30px;
        letter-spacing: 0.4px;
    }
    &_container{
        width: 75vw;
        display: block;
        margin: 5rem auto;
    }
    &_div{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        &:not(:last-child){margin-bottom: 3rem;}
        &-content{
            width: 50%;
            & > h3{
                font-size: 1.4rem;
                color: $very_dark_blue;
                margin-bottom: 0.5rem;
            }
            & > p{
                font-size: 1.322rem;
                font-weight: 500;
                color: #3d3d3d;
                text-align: justify;
                margin-bottom: 0.7rem;
                letter-spacing: 0.5px;
                line-height: 30px;
            }
            & > span{
                font-size: 1.2rem;
                font-weight: 600;
                color: $very_dark_blue;
                margin-bottom: 0.7rem;
            }
        }
        &-img{
            background: white;
            &-1{
                width: 30rem;
                height: 20rem;
            }
            &-2{
                width: 10rem;
                height: 10rem;
            }
            &-3{
                width: 20rem;
                height: 14rem;
            }
        }
    }
}
