// Variables
$yellow: #ff9b05;
$light_blue: #ecf7ff;
$dark_blue: #3dbcf9;
$very_dark_blue: #00288a;
$light_dark_blue: #113a9f; 
$white: #ffffff;
$Grey-light-1: #faf9f9;
$Grey-light-2: #f4f2f2;
$Grey-light-3: #f0eeee;
$Grey-light-4: #ccc;

$Grey-dark-1: #333;
$Grey-dark-2: #777;
$Grey-dark-3: #999;

$shadow-dark:0 1rem 4rem rgba(11,4,207,.2);
$shadow-light:0 1rem 2rem rgba(11,4,207,.1);



*,*::after,*::before{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    background-color: $light_blue;
    font-family: 'Raleway', sans-serif;
    @media(min-height: 900px){
        font-size: 130% !important;
    }
}
.nav{
    padding: 0 3rem;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media(min-height: 900px){
        height: 15vh;
    }
    & > h3{
        font-family: 'Oswald', sans-serif;
        font-size: 2.5rem;
        color: $very_dark_blue;
        letter-spacing: 0.5px;
        & > i{
            color: $dark_blue;
        }
    }
    &_links{
        width: 15%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media(min-height: 900px){
            width: 20%;
        }
        &-btn{
            font-size: 1.1rem;
            background-color: $very-dark-blue;
            color: $white;
            text-decoration: none;
            font-weight: 600;
            border-radius: 12px;
            border: none;
            outline: none;
            padding: 1rem 2rem;
            cursor: pointer;
            @media(min-height: 900px){
                font-size: 1.3rem;
                padding: 1.3rem 3rem;
            }
        }
        &-icon{
            position: relative;
            text-decoration: none;
            width: 3rem;
            height: 3px;
            background: #3d3d3d;
            @media(min-height: 900px){
                width: 4rem;
                height: 4px;
            }
            &::before{
                content: " ";
                position: absolute;
                top: -0.7rem;
                left: 0;
                width: 3rem;
                height: 3px;
                background-color: #3d3d3d;
                @media(min-height: 900px){
                    width: 4rem;
                    height: 4px;
                }
            }
            &::after{
                content: " ";
                position: absolute;
                bottom: -0.7rem;
                left: 0;
                width: 3rem;
                height: 3px;
                background-color: #3d3d3d;
                @media(min-height: 900px){
                    width: 4rem;
                    height: 4px;
                }
            }
        }
    }
}