.dashtabs_content{
    position: relative;
    & .QRInfo{
        margin: 3rem 0 2rem 0;
        padding: 1rem 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: $white;
        box-shadow: $shadow-light;
        &_1{
            width: 40%;
            & > span{
                font-size: 1.1rem;
                font-weight: 600;
                color: $Grey-dark-2;
            }
            & > h3{
                font-size: 1.5rem;
                color: $very_dark_blue;
                margin: 0.5rem 0 1rem 0;
                & > i{
                    margin-right: 0.5rem;
                }
            }
            & > div{
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                & > span{   
                    cursor: pointer;
                    color:$Grey-dark-1;
                    width: 40%;
                    margin-top: 0.4rem;
                    font-size: 1.1rem;
                    & > i{
                        margin-right: 0.4rem;
                    }
                }
            }
        }

        &_2{
            display: flex;
            align-items: center;

            & > div{
                & > p{
                    text-align: center;
                    & > span{
                        display: block;
                        font-size: 3rem;
                        color: $very_dark_blue;
                    }
                    & > small{
                        font-size: 1.2rem;
                    }
                }
                & > button{
                    background: transparent;
                    border: none;
                    outline: none;
                    color: $dark_blue;
                    font-size: 1.2rem;
                    margin-top: 2rem;
                }
                &  > img{
                    width: 10rem;
                    height: 10rem;
                    margin-left: 2rem;
                }
            }
        }

        &_3{
            & > button{
                border: 2px solid $very_dark_blue;
                color: $very_dark_blue;
                background: $white;
                padding: 0.5rem 2.5rem;
                font-size: 1.1rem;
                cursor: pointer;
            }
        }
    }
}

.no_content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    & > i{
        font-size: 2.5rem;
        color: $Grey-dark-2;
        margin-bottom: 3rem;
    }
    & > h1{
        color: $Grey-dark-2;
    }
}