.social_form {
    margin-top: 1rem;
}
.design_form{
    & .form_group p{
      padding-top: 2.5rem;
      padding-bottom: 2rem;
      & input{
        float: right;
      }
    }
    & .form_group-color{
      display: flex;
      align-items: center;
      justify-content: space-between;
      & .color-picker {
        padding: 10px 15px;
        border-radius: 10px;
        border: 1px solid #ccc;
        background-color: #f8f9f9;
        & [type='color'] {
          -moz-appearance: none;
          -webkit-appearance: none;
          appearance: none;
          padding: 0;
          width: 15px;
          height: 15px;
          border: none;
        }
        & [type='color']::-webkit-color-swatch-wrapper {
          padding: 0;
        }
        
        & [type='color']::-webkit-color-swatch {
          border: none;
        }
      }
    }
    & .form_group-image{
      display: flex;
      align-items: center;
      & div{
        width: 7rem;
        height: 6rem;
        padding: 0.5rem;
        border: 1px solid;
        &:first-child{margin-right: 1rem;}
        & > img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
}
  
.basic_info{
    & p{
      padding-top: 2.5rem;
      padding-bottom: 2rem;
    }
    & .form_group{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1.5rem;
      & > input{
        width: 70%;
        padding: 0.5rem;
        font-size: 1rem;
      }
      & > textarea{
        width: 70%;
        height: 6rem;
        padding: 0.5rem;
        font-family: inherit;
        font-size: 1rem;
        letter-spacing: 0.5px;
      }
      & > select{
        width: 30%;
        padding: 0.5rem;
        font-family: inherit;
        font-size: 1rem;
      }
    }
}
  
.links_form{
    & p{
      padding-top: 2.5rem;
      padding-bottom: 2rem;
    }
    & .form_group{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 1.5rem;
      & > i {
        padding: 0.5rem;
      }
      & > div{
        display: flex;
        & > i{
          padding: 1rem;
        }
      }
      &  input{
        width: 24rem;
        height: 3rem;
        padding-left: 1rem;
        font-size: 1rem;
        margin-bottom: 1.5rem;
      }
      & label{
        padding: 1rem;
        background: $Grey-light-4;
      }
    }
    & .form_group-channel{
      display: flex;
      justify-content: space-between;
      & > div{
        display: flex;
        flex-direction: column;
        & > div{
          display: flex;
          flex-wrap: wrap;
          width: 70%;
          & > i {
            padding: 0.5rem;
            font-size: 1.5rem;
          }
        }
      }
    }
}
.option_form{
    padding: 1.5rem 1rem;
    & .form_group{
      display: flex;
      justify-content: space-between;
    }
}
  
.social_phone_screen{
    & > img{
      width: 100%;
      height: 10rem;
      object-fit: cover;
    }  
    &-header{
      background: #9231d3;
      padding: 1rem 0.6rem;
      color: white;
      margin-top: -1rem;
      position: relative;
      box-shadow: 0 10px 20px rgba(0, 0, 0 , 0.1);
      & > h3{
        padding-bottom: 0.7rem;
        font-size: 1rem;
      }
      & > p{
        font-size: 0.9rem;
        width: 80%;
      } 
    }
    & > ul{
      padding: 0.5rem 0.6rem;
      & > li{
        padding: 1rem 0;
        display: flex;
        border-bottom: 1px solid #3d3d3d;
        & > i{
          margin-right: 0.7rem;
          padding: 0.7rem;
          background-color: #9231d3;
          font-size: 1.3rem;
          color: white;
          border-radius: 50px;
          box-shadow: 0 10px 20px rgba(0, 0, 0 , 0.1);
        }
      }
    }
}